.bg-gray-400.px-5.rounded-b.border.border-dotted.border-gray-600.py-2.flex.justify-between
  .actions
    = link_to("#{pluralize(post.comments.size, "Comment")}", post_path(post), class: "underline")
  .actions.flex
    - if policy(post).update?
      = link_to(inline_svg_tag("icons/edit.svg"), edit_post_path(post), class: "mr-2")
      = link_to(inline_svg_tag("icons/trash-2.svg"), post_path(post), class: "text-sm text-red-800", id: "delete-post", method: :delete)
      %span.ml-6= post.reactions.size
      = inline_svg_tag("icons/thumbs-up.svg", class: "ml-2") 
    - else
      %span.mr-2= post.reactions.size
      - if current_user.reaction_to(post)
        = link_to(inline_svg_tag("icons/thumbs-up.svg", class: "text-green-800"), reaction_path(current_user.reaction_to(post)), method: :delete, id: "remove-like" )
      - else
        = link_to(inline_svg_tag("icons/thumbs-up.svg"), reactions_path(params: { reaction: { sentiment: :like, content_type: "Post", content_id: post.id }}), method: :post, id: "like" )