.mb-4
- if post.images.present?
  = link_to(image_tag(url_for(post.preview_image), class: "preview-image rounded-t"), user_post_path(@user, post))
  .bg-gray-300.px-5.py-5.border-r.border-l.border-dotted.border-gray-600
    = render partial: "post_body", locals: {post: post}
  = render partial: "post_footer", locals: {post: post}
- else
  .bg-gray-300.px-5.py-5.border-t.border-r.border-l.border-dotted.border-gray-600.rounded-t
    = render partial: "post_body", locals: {post: post}
  = render partial: "post_footer", locals: {post: post}

