.container.lg.mx-auto.px-5.h-screen.py-5.flex
  .flex-1.flex.h-screen
    %h3.text-3xl= @user.full_name
  .flex-1
    .flex.justify-between.content-center.mb-4
      %h3.text-3xl= "Posts"
      = link_to "New Post", new_user_post_path(@user), class: "bg-gray-300 block py-2 px-4 border-2 border-indigo-800 rounded-lg text-indigo-800 font-bold"
    .mb-4
      - @user.posts.each do |post|
        .mb-4
          .bg-gray-300.px-5.py-5.border-t.border-r.border-l.border-dotted.border-gray-600.rounded-t
            %span.block.text-xs.mb-3= "#{time_ago_in_words(post.created_at)} ago"
            %p= post.body
          .bg-gray-400.px-5.rounded-b.border.border-dotted.border-gray-600.py-2.flex.justify-between
            = link_to "Edit", edit_user_post_path([@user, post]), class: "text-sm"
            = link_to "Delete", user_post_path([@user, post]), class: "text-sm text-red-800", method: :delete


