!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Openbook
    = csrf_meta_tags
    = csp_meta_tag
    = javascript_pack_tag 'application', media: 'all'
    = stylesheet_pack_tag 'application', media: 'all'
  %body.bg-gray-300.text-gray-700
    .bg-indigo-900
      %header.flex.text-white.px-8.py-3.justify-between.container.lg.mx-auto
        %h1.text-2xl= link_to "Openbook", timeline_path
        - if signed_in?
          .search.ml-16
            = form_with url: search_path, local: true, method: :get do |form|
              = form.text_field :query, placeholder: 'Johnny Appleseed', class: "outline-none rounded bg-gray-200 border py-2 px-4 text-indigo-800 w-64"
              = form.submit "Search", class: "bg-indigo-900 ml-2 py-2 px-4 border-2 border-gray-300 rounded-lg text-gray-300 font-bold inline-block"

        %nav.flex.items-center
          %ul.block
            %li
              - if signed_in?
                = link_to "Home", timeline_path, class: "mr-6"
                = link_to "Invites", invites_path, class: "mr-6"
                = link_to "Sign Out",
                  sign_out_path,
                  method: :delete
              -else
                = link_to "Sign in", sign_in_path, class: "block"
    - if flash[:notice]
      %div.flash.bg-green-300.p-4.text-green-800.border-b.border-green-800.border-dotted= flash[:notice]
    - elsif flash[:alert]
      %div.flash.bg-red-300.p-4.text-red-800.border-b.border-red-800.border-dotted= flash[:alert]
    = yield
    %footer.flex.bg-gray-900.text-white.px-2.py-3.justify-between.bg-indigo-900
      .p This is the footer.
    =yield :tail_scripts
